.anchoring form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anchoring h1 {
  text-align: center;
}

.anchoring p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.anchoring input  {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: right;
  width: 200px;
}
